# Tip Python base

In [3]:
#1 Hoán đổi vị trí
a = 1
b = 3
a, b = b , a
print(a, b)

3 1

In [7]:
#2 in list trong python
a = [1, 2, 3, 4, 5];

print(a)
print(*a)
print(*a,end="!\n")
print(*a,sep="+",end="!")

[1, 2, 3, 4, 5]
1 2 3 4 5
1 2 3 4 5!
1+2+3+4+5!

In [11]:
#3. đảo list
a = ['a', 'b', 'c', 'd', 'e']
a.reverse()

print(*a)
print(a)

print(a[0:len(a)])
print(a[0:2])
print(a[3:0:-1])

e d c b a
['e', 'd', 'c', 'b', 'a']
['e', 'd', 'c', 'b', 'a']
['e', 'd']
['b', 'c', 'd']

In [12]:
# 4. Đếm số lần xuất hiện
from collections import Counter
a = ['a','a','a', 'b','b','b', 'c', 'd', 'd', 'd', 'd', 'd', 'e']
f = Counter(a)
print(f['b'])

3

In [13]:
# 5. giá trị thường xuyên nhât:
a = ['a','a','a', 'b','b','b', 'c', 'd', 'd', 'd', 'd', 'd', 'e']

print(max(set(a),key=a.count))

d

In [16]:
# 6. in chuỗi đảo ngược
s = "12321"
s = s[::-1]
print(s)
if s == s[::-1]: print("chuoi doi xung")

12321
chuoi doi xung

In [17]:
#7. Tách một chuỗi thành một list
s = "hello cac ban nho"
print(s.split());

['hello', 'cac', 'ban', 'nho']

In [24]:
#8. Kết hợp một list các chuỗi thành một chuỗi
a = ["hello", "cac", "ban", "nho"]
print("|".join(a))
print(" ".join(a))

hello|cac|ban|nho
hellocacbannho

In [29]:
#9. Kết hợp 2 list, chuyển đổi 2 list thành 1 từ điển
a = ["hello", "cac", "ban", "nho"]
b = [1, 2, 3 , 4]
# chuyển thành từ điển
d = dict(zip(a, b))
print(d)

# list a kế thừa các phần tử của list b
a.extend(b)
print(a)

# list a được gắn cả list b
a.append(b)
print(a)

{'hello': 1, 'cac': 2, 'ban': 3, 'nho': 4}
['hello', 'cac', 'ban', 'nho', 1, 2, 3, 4]
['hello', 'cac', 'ban', 'nho', 1, 2, 3, 4, [1, 2, 3, 4]]

In [32]:
# if else 1 dong
y = 10
x = 10 if (y != 10) else 20
print(x)

20

In [33]:
#if else thong minh hon
a = 1
b = 2
c = 3
if a : print("a khac khong")
if not a: print("a bang khong")
if "String" : print("chuoi khong rong")

a khac khong
chuoi khong rong

# Tip Python List

**2. enumerate**

In [35]:
a=[1,2,3,4]
for i, val in enumerate(a):
    print('Index {} in array is: {}'.format(i, '%.5f'%val))

Index 0 in array is: 1.00000
Index 1 in array is: 2.00000
Index 2 in array is: 3.00000
Index 3 in array is: 4.00000

**3. Thêm**

In [36]:
a = [1, 2, 3, 4]
a.insert(0, 5)

print(a)

a.append(6)
print(a)

[5, 1, 2, 3, 4]
[5, 1, 2, 3, 4, 6]

**4. gộp 2 mảng**

In [37]:
a = ["apple", "banana", "orange"]
b = [1, 2, 3]

a.extend(b)
print(a)

c = a + b
print(c)

['apple', 'banana', 'orange', 1, 2, 3]
['apple', 'banana', 'orange', 1, 2, 3, 1, 2, 3]

**5. Xóa**

In [40]:
a = [1, 2, 3, 4, 5]

a.pop(3)
print(a)

a.remove(3)
print(a)

[1, 2, 3, 5]
[1, 2, 5]

**6. Sao chep**

In [43]:
a = ["apple", "banana", "orange"]
b = a.copy()

print(b)

c= a[:]
print(c)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange']

**7. Sắp xếp**

In [49]:
a=[1, 2, 3, 4]
a.sort(reverse=True)
print(a)

a.reverse()
print(a)

a[0:3] = sorted(a[0:3],reverse=True)
print(a)

span = ['a', 'z', 'A', 'Z']
span.sort(key=str.lower)
print(span)

[4, 3, 2, 1]
[1, 2, 3, 4]
[3, 2, 1, 4]
['a', 'A', 'z', 'Z']

In [53]:
a=[[1,2],[5,6],[3,7]]
a.sort()
print(a)

a= sorted(a, key=lambda l:l[1], reverse=True)
print(a)

[[1, 2], [3, 7], [5, 6]]
[[3, 7], [5, 6], [1, 2]]

**8.index và count**

In [54]:
a=[1,2,3,4,1]
print(a.index(1)) # trả về vị trí của giá trị
print(a.count(1))

0
2

**9.sum, min,max**

In [56]:
a=[1,2,3,4]
sum = sum(a)
print(sum)

max = max(a)
print(max)

min = min(a)
print(min)

# có cả max , min

10
4
1

**10 chuyển từ chuỗi và từ điển sang list**

In [68]:
# Chuyển từ chuỗi sang list
s="123456788"

a1= list(s)
a2 = [int(i) for i in a1]
print(a1, a2, sep='\n')

# Chuyển từ từ điển sang list
d={12: 1, 43: 3, 56: 2, 14: 2, 11: 2}

d = list(d.items())
print(d)

d = [list(i) for i in d]
print(d)

['1', '2', '3', '4', '5', '6', '7', '8', '8']
[1, 2, 3, 4, 5, 6, 7, 8, 8]
[(12, 1), (43, 3), (56, 2), (14, 2), (11, 2)]
[[12, 1], [43, 3], [56, 2], [14, 2], [11, 2]]